
<div id="home" class="container home-intro">
  <img src="<%- config.url %><%- theme.custom.home_intro_img %>" alt="Welcome Image" class="home-image">
  <h2><%- theme.custom.wellcome1 %></h2>
  <p><%- theme.custom.wellcome2 %></p>
</div>

<div class="posts-container">
  <% page.posts.each(function(post) { %>
    <article class="index_post">
      <h2><a href="<%= post.permalink %>"><%= post.title %></a></h2>
      <p class="post-date"><%= moment(post.date).tz('Asia/Taipei').format('YYYY-MM-DD') %></p>
      <div class="excerpt">
        <%- post.excerpt %>
      </div>
      
      <!-- tags -->
      <% if (post.tags && post.tags.length > 0) { %>
        <div class="post-tags">
          <span><%- __('menu.tags') %>:</span>
          <ul>
            <% post.tags.forEach(function(tag) { %>
              <li><a href="<%= tag.permalink %>"><%= tag.name %></a></li>
            <% }); %>
          </ul>
        </div>
      <% } %>

      <!-- categories -->
      <% if (post.categories && post.categories.length > 0) { %>
        <div class="post-categories">
          <span><%- __('menu.categories') %>:</span>
          <ul>
            <% post.categories.forEach(function(category) { %>
              <li><a href="<%= category.permalink %>"><%= category.name %></a></li>
            <% }); %>
          </ul>
        </div>
      <% } %>

      <a class="read-more" href="<%= post.permalink %>">Read More</a>
    </article>
  <% }); %>
</div>