<!DOCTYPE html>
<html lang="en">
<head>
  <%- partial('_partial/head') %>
</head>
<body>
  

  <%- partial('_partial/header') %>
  <div id="container">
    
    <%- body %>
    
  </div>
  
  <%- partial('_partial/side_bar') %>
  <%- partial('_partial/footer') %>
</body>
</html>
