<!DOCTYPE html>
<html lang="en">
<head>
  <%- partial('_partial/head') %>
</head>
<body>
  

  <%- partial('_partial/header') %>
  <div id="container">
    <div id="search-results"></div>

    <%- body %> 
    
  </div>
  
  <%- partial('_partial/sidebar') %>
  <%- partial('_partial/popup_tag') %>
  <%- partial('_partial/footer') %>
</body>
</html>
