<!DOCTYPE html>
<html lang="en">
<head>
  <%- partial('_partial/head') %>
</head>
<body>
  

  <%- partial('_partial/header') %>
  
  <div id="container">
    <%- partial('_partial/search-results') %>
    
  
    <%- body %> 
    
  </div>
  
  <%- partial('_partial/sidebar') %>
  <%- partial('_partial/popup_tag') %>
  <%- partial('_partial/footer') %>
</body>
</html>
<!-- 返回頂部按鈕 -->
<button id="scroll-to-top-btn" class="scroll-to-top-btn"><%- theme.float.scroll_to_top %></button>