<article class="post">
  <h1><%= page.title %></h1>
  <p class="post-date"><%- __('post.date') %><%= page.date %></p>
  <p class="post-author"><%- __('post.author') %><%= page.author %></p>
  <% if (page.excerpt) { %>
      <div class="excerpt">
          <p><%= page.excerpt %></p>
      </div>
  <% } %>
  <div class="content">
      <%- page.content %>
  </div>
</article>
