<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title><%= config.title %></title>
<!-- <link rel="stylesheet" href="/css/style.css"> -->
<link rel="stylesheet" href="<%- config.root %>css/style.css">
<link rel="stylesheet" href="<%- config.root %>css/style_post.css">
<link rel="stylesheet" href="<%- config.root %>css/style_header.css">
<link rel="stylesheet" href="<%- config.root %>css/style_sidebar.css">
<link rel="stylesheet" href="<%- config.root %>css/style_archives.css">