<!-- å´é‚Šæ¬„ -->
<div id="sidebar">
  <button id="close-btn">&times;</button>
  <div class="author-info">
    <img src="<%- config.url %><%- theme.sidebar.Author_photo %>" alt="ä½œè€…ç…§ç‰‡" class="author_photo">
    <h2><%- theme.sidebar.Author %></h2>
    <p><%- theme.sidebar.Auther_descrip %></p>
    <span><%- theme.sidebar.other %></span>
    <a href="<%- config.url %>/about">About me</a>
  </div>
</div>

<button id="open-btn">ðŸ¤—</button>